<!DOCTYPE HTML>
<html xmlns:th="http://thymeleaf.org" lang="">
<!--TABLE-->
<div class="table-responsive">
  <table class="table align-items-center table-flush">
    <thead class="thead-light">
    <tr>
      <th scope="col">Brand name</th>
      <th scope="col">Type</th>
      <th scope="col">Drug</th>
      <th scope="col">Country</th>
      <th scope="col">Price per unit</th>
      <th scope="col"></th>
      <th class="text-center" scope="col"></th>
    </tr>
    </thead>
    <tbody id="products-table-body" class="list">
    <tr th:id="${product.id}" th:each="product : ${productsPage.content}" class="clickableRow">
      <td th:onclick="window.location.replace('/products/view/[[${product.id}]]')"><span th:text="${product.brandName}"></span></td>
      <td th:onclick="window.location.replace('/products/view/[[${product.id}]]')"><span th:text="${product.type.name}"></span></td>
      <td th:onclick="window.location.replace('/products/view/[[${product.id}]]')"><span th:text="${product.drug.name}"></span></td>
      <td th:onclick="window.location.replace('/products/view/[[${product.id}]]')"><span th:text="${product.producerCountry.name}"></span></td>
      <td th:onclick="window.location.replace('/products/view/[[${product.id}]]')"><span th:text="${product.pricePerUnit} + '€'"></span></td>
      <td th:onclick="window.location.replace('/products/view/[[${product.id}]]')" class="text-right"><span th:if="${product.recommended}" data-toggle="tooltip" data-placement="top" title="Recommended by the doctors"><i class="fas fa-medal fa-2x text-yellow"></i></span></td>
      <td class="text-right">
        <div class="dropdown">
          <a class="btn btn-sm btn-icon-only text-light" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-ellipsis-v"></i>
          </a>
          <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
            <button class="dropdown-item" th:onclick="redirect('/products/' + [[${product.id}]])">Edit</button>
            <button class="dropdown-item" th:onclick="handleDeleteModal('modalDeleteItem', [[${product.id}]], '/products/')">Remove</button>
          </div>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
</div>
<!--PAGINATION-->
<div th:if="${productsPage.totalPages > 0}" class="card-footer py-4">
  <nav aria-label="...">
    <ul class="pagination justify-content-end mb-0">
      <li class="my-auto mr-1">
        <span class="align-middle" th:text="'Page ' + ${productsPage.number + 1} + ' of ' + ${productsPage.totalPages}"></span>
      </li>
      <li class="page-item" th:classappend="${productsPage.number == 0}? disabled">
        <button id="page-back" class="page-link" tabindex="-1"
                th:onclick="readProducts([[${productsPage.number - 1}]])">
          <i class="fas fa-angle-left"></i>
          <span class="sr-only">Previous</span>
        </button>
      </li>
      <li class="page-item" th:classappend="${productsPage.number == productsPage.totalPages - 1}? disabled">
        <button id="page-forward" class="page-link"
                th:onclick="readProducts([[${productsPage.number + 1}]])">
          <i class="fas fa-angle-right"></i>
          <span class="sr-only">Next</span>
        </button>
      </li>
    </ul>
  </nav>
</div>
