<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" lang="">

<head>
    <title>E-Pharmacy | Sell Products</title>
    <div th:replace="commons/fragments/head"></div>
    <!--7-Segment Font-->
    <link rel="stylesheet" th:href="@{/css/fonts/fonts.css}" type="text/css">
    <script th:insert="@{sellproduct/js/sell-product.js}"></script>
</head>

<body>
<!-- Sidebar -->
<div th:replace="commons/fragments/sidebar"></div>
<!-- Main content -->
<div class="main-content" id="panel">
    <!-- Topnav -->
    <div th:replace="commons/fragments/top_nav :: input(viewName='Sell products', link='products/sell-products')"></div>
    <!-- Header -->
    <div style="padding-right: 30px !important; padding-left: 30px !important;" class="header bg-primary py-4">
        <div class="container-fluid">
            <div class="header-body">
                <!-- White form-->
                <div class="card">

                    <div class="card-header">
                        <div class="row">
                            <div class="col-8">
                                <h3 class="mb-0">Scanned Product Details</h3>
                            </div>
                            <div class="col-4">
                                <h3 class="mb-0">Scan Product</h3>
                            </div>
                        </div>
                    </div>

                    <div class="card-body">
                        <div class="row form-group">
                            <div id="product-details" class="col-8"
                                 th:insert="sellproduct/fragments/product_details"></div>
                            <div class="px-4 border-left"></div>

                            <div class="col-3">
                                <div class="row-form-group d-flex justify-content-center"
                                     style="font-family: sevenSegmentFont,serif;background: #2a46e157;">
                                    <h1 id="totalPrice" class="p-1 m-1" style="font-size: 62px;">00.00</h1>
                                    <span style="font-family: arial,serif;margin-top: 13%;">Total (Eur)</span>
                                </div>

                                <div class="px-4 border border-3 border-bottom border-primary mb-5 mt-1"></div>

                                <div class="row form-group">
                                    <div class="input-group input-group-alternative input-group-merge">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fas fa-barcode"></i></span>
                                        </div>
                                        <input autocomplete="off" id="barcode" maxlength="20" type="number"
                                               class="form-control"
                                               oninput="if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                                               placeholder="Barcode">
                                    </div>
                                </div>

                                <div class="row form-group">
                                    <div class="input-group input-group-alternative input-group-merge">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="ni ni-box-2"></i></span>
                                        </div>
                                        <input autocomplete="off" maxlength="4" id="quantity" type="number"
                                               class="form-control"
                                               oninput="if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                                               placeholder="Quantity">
                                    </div>
                                </div>

                                <div class="row form-group">
                                    <button onclick="readProduct(document.getElementById('barcode').value, document.getElementById('quantity').value)"
                                            type="submit" value="Submit" class="btn btn-lg btn-primary">
                                        Scan product
                                    </button>
                                    <div>
                                    </div>
                                </div>
                                <p id="error-message" class="row alert alert-danger"
                                   style="visibility: hidden;font-weight: 600;padding: 4px; padding-left: 15px;"
                                   role="alert">Invalid barcode number!</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- White form-->

            </div>
        </div>
    </div>
    <!-- Page content -->
    <div class="container-fluid mt--4">
        <div class="row">
            <div class="col">
                <div class="card">
                    <!-- Card header -->
                    <div class="card-header border-0">
                        <div class="row align-items-center">
                            <div class="col-10">
                                <h3 class="mb-0">Products added</h3>
                            </div>
                            <div class="col-2 mt-2 text-right">
                                <button type="submit" value="Submit" onclick="location.reload();"
                                        class="btn btn-lg btn-primary">
                                    <i class="fa fa-broom mr-2"></i>Clear
                                </button>
                                <button type="submit" value="Submit" onclick="sellProducts()"
                                        class="btn btn-lg btn-primary">
                                    <i class="fa fa-plus mr-2"></i>Sell products
                                </button>
                            </div>
                        </div>
                    </div>
                    <!-- Table -->
                    <div class="table-responsive">
                        <table id="sell-products-table" class="table align-items-center table-flush">
                            <thead class="thead-light">
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col">Quantity</th>
                                <th scope="col">Price per unit</th>
                                <th scope="col">Price</th>
                                <th scope="col">Taxes</th>
                                <th scope="col">Subtotal</th>
                                <th class="text-center" scope="col">Remove</th>
                            </tr>
                            </thead>
                            <tbody id="products-table-body" class="list">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer -->
        <div th:replace="commons/fragments/footer"></div>
    </div>
</div>

<!--Delete Modal-->
<div th:replace="commons/fragments/delete_modal :: input(id='modalDeleteItem', title='Remove item', text='Are you sure you want to remove?', confirmButtonText='Delete')"></div>
<!--Delete Modal-->
<div th:replace="commons/fragments/info_modal :: input(id='modalInfoItem', title='Products sold', text='Products sold successfully!')"></div>
</body>

</html>