<!DOCTYPE HTML>
<html lang="">
<div class="col-xl-8">
    <div class="card">
        <div class="card-header border-0">
            <div class="row align-items-center">
                <div class="col">
                    <h6 class="text-uppercase text-muted ls-1 mb-1">Last month</h6>
                    <h3 class="mb-0">Product Sales</h3>
                </div>
                <div class="col text-right">
                    <a href="#" class="btn btn-sm btn-primary">See all</a>
                </div>
            </div>
        </div>
        <div class="table-responsive">
            <!-- Projects table -->
            <table class="table align-items-center table-flush">
                <thead class="thead-light">
                <tr>
                    <th scope="col">Product</th>
                    <th scope="col">Orders</th>
                </tr>
                </thead>
                <tbody>
                <tr th:id="${productSales.productModel.brandName}" th:each="productSales : ${productSalesList}" class="clickableRow">
                    <td><span th:text="${productSales.productModel.brandName}"></span></td>
                    <td><span th:text="${#numbers.formatDecimal(productSales.salesCount, 0, 'COMMA', 0, 'POINT')}"></span></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</html>