<!DOCTYPE HTML>
<html xmlns:th="http://thymeleaf.org" lang="">
<!--TABLE-->
<div class="table-responsive">
    <table class="table align-items-center table-flush">
        <thead class="thead-light">
        <tr>
            <th scope="col">Product</th>
            <th scope="col" class="text-center">Buy Price Per Unit</th>
            <th scope="col" class="text-center">Mass (Gr.)</th>
            <th scope="col" class="text-center">Quantity</th>
            <th scope="col">Branch</th>
            <th scope="col">Supplies expiration Date</th>
            <th scope="col">Supplied Date</th>
            <th class="text-center" scope="col"></th>
        </tr>
        </thead>
        <tbody id="products-table-body" class="list">
        <tr th:id="${supply.id}" th:each="supply : ${supplies.content}">
            <td><span th:text="${supply.productModel.brandName}"></span></td>
            <td class="text-center"><span th:text="${supply.buyPricePerUnit} + '€'"></span></td>
            <td class="text-center"><span th:text="${#numbers.formatDecimal(supply.mass, 0, 'COMMA', 0, 'POINT')}"></span></td>
            <td class="text-center"><span th:text="${supply.quantity}"></span></td>
            <td><span th:text="${supply.branchModel.address}"></span></td>
            <td><span th:text="${#dates.format(supply.expirationDate, 'dd-MMM-yyyy')}"></span></td>
            <td><span th:text="${#dates.format(supply.createdDate, 'dd-MMM-yyyy HH:mm')}"></span></td>
            <td class="text-right">
                <div class="dropdown">
                    <a class="btn btn-sm btn-icon-only text-light" href="#" role="button" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-ellipsis-v"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                        <button class="dropdown-item"
                                th:onclick="handleDeleteModal('modalDeleteItem', [[${supply.id}]], '/supplies/')">
                            Remove
                        </button>
                    </div>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<!--PAGINATION-->
<div th:if="${supplies.totalPages > 0}" class="card-footer py-4">
    <nav aria-label="...">
        <ul class="pagination justify-content-end mb-0">
            <li class="my-auto mr-1">
                <span class="align-middle"
                      th:text="'Page ' + ${supplies.number + 1} + ' of ' + ${supplies.totalPages}"></span>
            </li>
            <li class="page-item" th:classappend="${supplies.number == 0}? disabled">
                <button id="page-back" class="page-link" tabindex="-1"
                        th:onclick="readSupplies([[${supplies.number - 1}]])">
                    <i class="fas fa-angle-left"></i>
                    <span class="sr-only">Previous</span>
                </button>
            </li>
            <li class="page-item" th:classappend="${supplies.number == supplies.totalPages - 1}? disabled">
                <button id="page-forward" class="page-link"
                        th:onclick="readSupplies([[${supplies.number + 1}]])">
                    <i class="fas fa-angle-right"></i>
                    <span class="sr-only">Next</span>
                </button>
            </li>
        </ul>
    </nav>
</div>
