<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" lang="">

<head>
    <title>E-Pharmacy | Sell Products</title>
    <div th:replace="commons/fragments/head"></div>
</head>

<body>
<!-- Sidebar -->
<div th:replace="commons/fragments/sidebar"></div>
<!-- Main content -->
<div class="main-content" id="panel">
    <!-- Topnav -->
    <div th:replace="commons/fragments/top_nav :: input(viewName='Products', link='/products')"></div>
    <!-- Header -->
    <div style="padding-right: 30px !important; padding-left: 30px !important;" class="header bg-primary py-4">
        <div class="container-fluid">
            <div class="header-body">
                <!-- White form-->
                <div class="card">

                    <div class="card-body">
                        <div class="row">
                            <div class="col-6">
                                <h3 class="mb-0">All notifications overview</h3>
                            </div>
                            <div class="col-6">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- White form-->

            </div>
        </div>
    </div>
    <!-- Page content -->
    <div class="container-fluid mt--4">
        <div class="row">
            <div class="col">
                <div class="card">
                    <!-- Card header -->
                    <div class="card-header border-0">
                        <div class="row align-items-center">
                            <div class="col-11">
                                <h4 class="mb-0">Total of <strong class="text-primary" th:text="${notificationsPage.totalElements}"></strong>
                                    notifications.</h4>
                            </div>
                        </div>
                    </div>
                    <!-- Table -->

                        <th:block th:each="notification : ${notificationsPage.content}">
                            <a href="/products" class="list-group-item list-group-item-action" onclick="">
                                <div class="row align-items-center">
                                    <div class="col-auto">
                                    </div>
                                    <div class="col ml--4">
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div>
                                                <h4 th:text="${notification.text}" class="mb-0 text-sm"></h4>
                                            </div>
                                            <div class="text-right text-muted">
                                                <small th:text="${notification.time}"></small>
                                            </div>
                                        </div>
                                        <p th:text="${notification.body}" class="text-sm mb-0"></p>
                                    </div>
                                </div>
                            </a>
                        </th:block>

                </div>
            </div>
        </div>
        <!-- Footer -->
        <div th:replace="commons/fragments/footer"></div>
    </div>
</div>
</body>
</html>