
.no-data {
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    padding: 4rem 2rem;
    border-radius: .8rem;
    min-height: 25rem
}

.no-data, .no-data--img {
    display: flex;
    justify-content: center
}

.no-data--img img.notification-img {
    width: 4.3rem;
    height: 7.2rem
}

.no-data--text {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column
}

.no-data--text p.paragraph-12 {
    text-align: center
}

.no-data--text .btn-reload {
    padding: .8rem 1.6rem;
    font-size: 1.4rem;
    margin-top: 2rem
}

.no-data-view {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.no-data-view_img {
    width: 6rem;
    height: 6rem;
    background-color: #f7f7fb;
    border-radius: 50%;
    border: 1px dashed grey;
    position: relative;
    font-size: 2.4rem;
}

.no-data-view_img, .no-data-view_img .mdi {
    display: flex;
    justify-content: center;
    align-items: center
}

.no-data-view_img .mdi {
    color: #5f6368;
    font-size: 2.4rem
}

.no-data-view_img .plus-holder {
    width: 2rem;
    height: 2rem;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0;
    bottom: 0
}

.no-data-view_img .plus-holder .mdi-plus {
    font-size: 2.2rem;
    color: #128dda
}

.no-data-view_desc {
    max-width: 47.1rem;
    width: 100%;
    height: auto;
    text-align: center;
    margin-top: 10px;
}