<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<div class="form-check" th:fragment="input(field, label)">
    <input type="checkbox" class="form-check-input"
           th:id="${#strings.toLowerCase(label)}"
           th:field="*{__${field}__}"/>
    <label class="form-check-label" th:for="${#strings.toLowerCase(label)}" th:text="${label}"></label>
</div>