<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<div th:fragment="input(id, title, text, confirmButtonText)" class="modal fade" th:id="${id}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 th:text="${title}" class="modal-title" id="exampleModalLabel"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body p-0 pl-4">
                <p th:text="${text}" class="text-message"></p>
            </div>
            <div class="modal-footer p-0 p-3 pr-4">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button th:onclick="redirect([[${confirmButtonRedirect}]])" th:text="${confirmButtonText}" type="button" class="btn btn-primary" data-dismiss="modal"></button>
            </div>
        </div>
    </div>
</div>