<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<div class="form-group" th:fragment="input(value1, value2)">
    <label style="font-weight: bold;" th:text="${value1}"></label>
    <br>
    <p style="white-space: pre-line; border: 1px solid #00000014;border-radius: 2px;padding: 10px;"
       th:text="${value2}"></p>
</div>