<!DOCTYPE html>
<footer class="footer pt-0">
    <div class="row align-items-center justify-content-lg-between">
        <div class="col-lg-6">
            <div class="copyright text-center  text-lg-left  text-muted">Copyright &copy; <span id="year"></span></div>
        </div>
        <div class="col-lg-6">
            <ul class="nav nav-footer justify-content-center justify-content-lg-end">
                <li class="nav-item">
                    <a th:href="@{~/templates/contact_us.html}" class="nav-link" target="_blank">Contact Us</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link" target="_blank">About
                        Us</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link" target="_blank">Blog</a>
                </li>
            </ul>
        </div>
    </div>

    <script>
        document.getElementById("year").innerHTML = new Date().getFullYear();
    </script>

    <!--Scripts that needs to be executed after the page is loaded-->
    <script th:src="@{/js/sidebar-selected-item-resolver.js}"></script>
</footer>