<!--
Default header for importing CSS And JS scripts which is imported on every normal page.
-->
<!DOCTYPE HTML>
<html xmlns:th="http://thymeleaf.org" lang="">

<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="Electronic pharmacy store that sells products and manages the stock of every branch.">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<link rel="icon" th:href="@{/images/favicon.png}" type="image/png">

<link rel="stylesheet" th:href="@{/css/no-content.css}" type="text/css">
<link rel="stylesheet" th:href="@{https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700}">
<link rel="stylesheet" th:href="@{/vendor/nucleo/css/nucleo.css}" type="text/css">
<link rel="stylesheet" th:href="@{/vendor/@fortawesome/fontawesome-free/css/all.min.css}" type="text/css">

<link th:rel="stylesheet" th:href="@{/css/select2.css}"/>
<link th:rel="stylesheet" th:href="@{/css/select2-bootstrap4.css}"/>

<link rel="stylesheet" th:href="@{/css/argon.css?v=1.2.0}" type="text/css">

<link rel="stylesheet" th:href="@{/css/style.css}" type="text/css">
<script th:src="@{/js/script.js}"></script>
<script th:src="@{/js/validation.js}"></script>

<!-- Argon Scripts -->
<!--TODO: not needed, delete later!-->
<script th:src="@{/vendor/jquery/dist/jquery.min.js}"></script>
<script th:src="@{/vendor/bootstrap/dist/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/vendor/js-cookie/js.cookie.js}"></script>
<script th:src="@{/vendor/jquery.scrollbar/jquery.scrollbar.min.js}"></script>
<script th:src="@{/vendor/jquery-scroll-lock/dist/jquery-scrollLock.min.js}"></script>
<!-- Argon JS -->
<script th:src="@{/js/argon.js?v=1.2.0}"></script>
<script th:src="@{/js/select2.full.js}"></script>

<!--Not implemented Modal-->
<div th:replace="commons/fragments/info_modal :: input(id='modalNotImplementedItem', title='No implementation', text='This feature is not implemented yet!')"></div>