<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<div class="form-group" th:fragment="input(value, label)">
    <label class="text-white mt-0 mb-5" style="font-weight: bold;" th:for="${#strings.toLowerCase(label)}"
           th:text="${label}"></label>
    <p class="text-white mt-0 mb-5" th:id="${#strings.toLowerCase(label)}" th:text="${value}">sad</p>
</div>