<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<div class="no-data-view opacity-8 mt-3" th:fragment="input(iconClass, color, header, description)">
    <div class="no-data-view_img">
        <i th:class="${iconClass + color}"></i>
    </div>
    <div class="no-data-view_desc">
        <h2 class="heading-14" th:text="${header}"></h2>
        <p class="paragraph-12" th:text="${description}"></p>
    </div>
</div>