<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<div th:if="${notificationsPage != null}">
<!-- Dropdown header -->
<div id="notification-number" class="px-3 py-3">
  <h6 th:if="${notificationsPage.totalPages > 0}" class="text-sm text-muted m-0">You have <strong class="text-primary" th:text="${notificationsPage.totalElements}"></strong>
    notifications.</h6>
</div>
<!-- List group -->
<div id="notification-list" class="list-group list-group-flush">
  <th:block th:each="notification : ${notificationsPage.content}">
    <a href="/products" class="list-group-item list-group-item-action" onclick="">
      <div class="row align-items-center">
        <div class="col-auto">
        </div>
        <div class="col ml--4">
          <div class="d-flex justify-content-between align-items-center">
            <div>
              <h4 th:text="${notification.text}" class="mb-0 text-sm"></h4>
            </div>
            <div class="text-right text-muted">
              <small th:text="${notification.time}"></small>
            </div>
          </div>
          <p th:text="${notification.body}" class="text-sm mb-0"></p>
        </div>
      </div>
    </a>
  </th:block>
  <!-- View all -->
  <a href="/notifications" class="dropdown-item text-center text-primary font-weight-bold py-3">View all</a>
</div>
</div>