<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<div class="form-group" th:fragment="input(field, label, url)">
  <label th:for="${#strings.toLowerCase(label)}" th:text="${label}"></label>
  <select th:id="${id} ?: ${#strings.toLowerCase(label)}" class="form-control select2-single" th:data-placeholder="${placeholder}"
          th:field="*{__${field}__}"
          th:attr="required=${required ?: null}">
  </select>
  <div class="invalid-feedback">
    <span th:text="${invalidMessage} ?: (${label} + ' is required')"></span>
  </div>
  <script th:inline="javascript">
    autocomplete([[${id} ?: ${#strings.toLowerCase(label)}]], [[${url}]], [[${multiselect}]], [[${elements}]])
  </script>
</div>