<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<div class="form-group" th:fragment="input(label, url)">
  <label th:for="${#strings.toLowerCase(label)}" th:text="${label}">Field</label>
  <select th:id="${id} ?: ${#strings.toLowerCase(label)}" class="form-control select2-single" th:data-placeholder="${placeholder}">
    <option value=""></option>
  </select>
  <script th:inline="javascript">
    autocomplete([[${id} ?: ${#strings.toLowerCase(label)}]], [[${url}]], [[${multiselect}]])
  </script>
</div>