<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<div class="form-group" th:fragment="input(field, label)">
  <label th:for="${#strings.toLowerCase(label)}" th:text="${label}">Field</label>
  <select th:field="*{__${field}__}" th:id="${#strings.toLowerCase(label)}" class="form-control">
    <option value="x">x</option>
  </select>
</div>