<!DOCTYPE html>
<!-- Sidenav -->
<nav class="sidenav navbar navbar-vertical  fixed-left  navbar-expand-xs navbar-light bg-white" id="sidenav-main">
    <div class="scrollbar-inner">
        <!-- Brand -->
        <div class="sidenav-header  align-items-center">
            <a style="padding: 0px 0px 0px 0px;" class="navbar-brand" href="/">
                <img style="max-height: 10rem; margin-top: -25px;" th:src="@{/images/logo.jpg}"
                     class="navbar-brand-img">
            </a>
        </div>
        <div class="navbar-inner">
            <!-- Collapse -->
            <div class="collapse navbar-collapse" id="sidenav-collapse-main">
                <!-- Nav items -->
                <ul class="navbar-nav">
                    <li id="menu-item-1" class="nav-item">
                        <a class="nav-link" th:href="@{~/products/sell-products}">
                            <i class="ni ni-cart text-default"></i>
                            <span class="nav-link-text">Sell Products</span>
                        </a>
                    </li>
                    <li id="menu-item-2" class="nav-item">
                        <a class="nav-link" href="javascript:$('#' + 'modalNotImplementedItem').modal('show')">
                            <i class="ni ni-single-02 text-yellow"></i>
                            <span class="nav-link-text">Profile</span>
                        </a>
                    </li>
                    <li id="menu-item-3" class="nav-item">
                        <a class="nav-link" href="javascript:$('#' + 'modalNotImplementedItem').modal('show')">
                            <i class="ni ni-settings text-gray"></i>
                            <span class="nav-link-text">Account Settings</span>
                        </a>
                    </li>
                </ul>
                <!-- Divider -->
                <hr class="my-3">
                <!-- Heading -->
                <h6 class="navbar-heading p-0 text-muted">
                    <span class="docs-normal">Data Management</span>
                </h6>
                <!-- Navigation -->
                <ul class="navbar-nav mb-md-3">
                    <li id="menu-item-4" class="nav-item">
                        <a class="nav-link" th:href="@{~/supplies}">
                            <i class="ni ni-box-2 text-green"></i>
                            <span class="nav-link-text">Supplies</span>
                        </a>
                    </li>
                    <li id="menu-item-5" class="nav-item">
                        <a class="nav-link" th:href="@{~/products}">
                            <i class="ni ni-app text-orange"></i>
                            <span class="nav-link-text">Products</span>
                        </a>
                    </li>
                    <li id="menu-item-6" class="nav-item">
                        <a class="nav-link"
                           th:href="@{~/drugs}">
                            <i class="fas fa-pills text-primary"></i>
                            <span class="nav-link-text">Drugs</span>
                        </a>
                    </li>
                    <li id="menu-item-7" class="nav-item">

                        <a class="nav-link"
                           th:href="@{~/types}">
                            <i class="fas fa-prescription-bottle text-primary"></i>
                            <span class="nav-link-text">Drug Types</span>
                        </a>
                    </li>
                    <li id="menu-item-8" class="nav-item">

                        <a class="nav-link"
                           th:href="@{~/categories}">
                            <i class="fas fa-bars text-primary"></i>
                            <span class="nav-link-text">Drug Categories</span>
                        </a>
                    </li>
                    <li id="menu-item-9" class="nav-item">

                        <a class="nav-link"
                           th:href="@{~/classifications}">
                            <i class="fas fa-sitemap text-primary"></i>
                            <span class="nav-link-text">Drug Classifications</span>
                        </a>
                    </li>
                    <li id="menu-item-10" class="nav-item">

                        <a class="nav-link"
                           th:href="@{~/side-effects}">
                            <i class="fas fa-syringe text-primary"></i>
                            <span class="nav-link-text">Drug Side effects</span>
                        </a>
                    </li>
                </ul>
                <!-- Divider -->
                <hr class="my-3">
                <!-- Heading -->
                <h6 class="navbar-heading p-0 text-muted">
                    <span class="docs-normal">Administration</span>
                </h6>
                <!-- Navigation -->
                <ul class="navbar-nav mb-md-3">
                    <li id="menu-item-11" class="nav-item">
                        <a class="nav-link" th:href="@{~/sales}">
                            <i class="ni ni-tv-2 text-purple"></i>
                            <span class="nav-link-text">Dashboard</span>
                        </a>
                    </li>
                    <li id="menu-item-12" class="nav-item">
                        <a class="nav-link"
                           href="javascript:$('#' + 'modalNotImplementedItem').modal('show')">
                            <i class="ni ni-square-pin text-blue"></i>
                            <span class="nav-link-text">Branches</span>
                        </a>
                    </li>
                    <li id="menu-item-13" class="nav-item">
                        <a class="nav-link"
                           href="javascript:$('#' + 'modalNotImplementedItem').modal('show')">
                            <i class="ni ni-single-02 text-yellow"></i>
                            <span class="nav-link-text">Users</span>
                        </a>
                    </li>
                    <li id="menu-item-14" class="nav-item">
                        <a class="nav-link"
                           th:href="@{~/alerts}">
                            <i class="ni ni-notification-70 text-red"></i>
                            <span class="nav-link-text">Alerts configuration</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>