<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<div class="form-group" th:fragment="input(field, label)">
  <label th:for="${#strings.toLowerCase(label)}" th:text="${label}">Field</label>
  <textarea class="form-control" th:id="${#strings.toLowerCase(label)}"
            th:field="*{__${field}__}"
            th:attr="required=${required ?: null}"></textarea>
  <div class="invalid-feedback">
    <span th:text="${invalidMessage} ?: (${label} + ' is required')"></span>
  </div>
</div>