<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<div class="form-group" th:fragment="input(label, placeholder)">
    <label th:for="${#strings.toLowerCase(label)}" th:text="${label}">Field</label>
    <input type="text" class="form-control" th:id="${#strings.toLowerCase(label)}" th:placeholder="${placeholder}"/>
</div>