<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<nav th:fragment="input(viewName, link)" class="navbar navbar-top navbar-expand navbar-dark bg-primary border-bottom">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <!-- Search form -->
            <div class="col-lg-6 col-7">
                <h6 class="h2 text-white d-inline-block mb-0">Tables</h6>
                <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                    <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                        <li class="breadcrumb-item"><a href="/homepage"><i class="fas fa-home"></i></a></li>
                        <li class="breadcrumb-item"><a th:href="${link}"><span
                                th:text="${viewName}"></span></a></li>
                    </ol>
                </nav>
            </div>
            <!-- Navbar links -->
            <ul class="navbar-nav align-items-center  ml-md-auto ">
                <li class="nav-item d-xl-none">
                    <!-- Sidenav toggler -->
                    <div class="pr-3 sidenav-toggler sidenav-toggler-dark" data-action="sidenav-pin"
                         data-target="#sidenav-main">
                        <div class="sidenav-toggler-inner">
                            <i class="sidenav-toggler-line"></i>
                            <i class="sidenav-toggler-line"></i>
                            <i class="sidenav-toggler-line"></i>
                        </div>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a id="notification-button" class="nav-link" href="#" role="button" data-toggle="dropdown" onclick="openNotifications()" aria-haspopup="true"
                       aria-expanded="false">
                        <i class="ni ni-bell-55 fa-lg"></i>
                    </a>
                    <div id="notifications-list" class="dropdown-menu dropdown-menu-xl  dropdown-menu-right  py-0 overflow-hidden">
                        <div th:replace="commons/fragments/notifications_list"></div>
                    </div>
                </li>
            </ul>

            <!--Branch options-->
            <div th:replace="commons/fragments/header_branches"></div>

            <!--Separator-->
<!--            <div class="media align-items-center">-->
<!--                  <span>-->
<!--                    <i class="px-4 border-left"></i>-->
<!--                  </span>-->
<!--            </div>-->

            <!--Profile settings-->
            <ul class="navbar-nav align-items-center  ml-auto ml-md-3">
                <li class="nav-item dropdown">
                    <a class="nav-link pr-0" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
                       aria-expanded="false">
                        <div class="media align-items-center">
                  <span class="avatar avatar-sm rounded-circle">
                    <img alt="Image placeholder" th:src="@{/images/profile_picture.jpg}">
                  </span>
                            <div class="media-body  ml-2  d-none d-lg-block">
                                <span class="mb-0 text-sm  font-weight-bold">John Snow</span>
                            </div>
                        </div>
                    </a>
                    <div class="dropdown-menu  dropdown-menu-right ">
                        <div class="dropdown-header noti-title">
                            <h6 class="text-overflow m-0">Welcome!</h6>
                        </div>
                        <a href="#!" class="dropdown-item">
                            <i class="ni ni-single-02"></i>
                            <span>My profile</span>
                        </a>
                        <a href="#!" class="dropdown-item">
                            <i class="ni ni-settings-gear-65"></i>
                            <span>Account settings</span>
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="#!" class="dropdown-item">
                            <i class="ni ni-user-run"></i>
                            <span>Logout</span>
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>
