<!DOCTYPE HTML>
<html xmlns:th="http://thymeleaf.org" lang="">
<!--TABLE-->
<div class="table-responsive">
  <table class="table align-items-center table-flush">
    <thead class="thead-light">
    <tr>
      <th scope="col">Product</th>
      <th scope="col">Alert type</th>
      <th scope="col">Value</th>
      <th class="text-center" scope="col"></th>
    </tr>
    </thead>
    <tbody id="products-table-body" class="list">
    <tr th:id="${alert.id}" th:each="alert : ${alertsConfigurations}">
      <td><span th:text="${alert.product.brandName}"></span></td>
      <td><span th:text="${alert.alertConditionType.description}"></span></td>
      <td><span th:text="${alert.quantity}"></span></td>
      <td class="text-center"><a th:onclick="handleDeleteModal('modalDeleteItem', [[${alert.id}]], '/alerts/')" role="button" class="btn btn-sm btn-icon-only"><i class="fas fa-trash fa-lg"></i></a></td>
    </tr>
    </tbody>
  </table>
</div>
