<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" lang="">
<!-- TABLE -->
<div class="table-responsive">
  <table class="table align-items-center table-flush">
    <thead class="thead-light">
    <tr>
      <th scope="col">Name</th>
      <th class="text-center" scope="col"></th>
    </tr>
    </thead>
    <tbody id="products-table-body" class="list">
    <tr th:id="${classification.id}" th:each="classification : ${classificationsPage.content}">
      <td><span th:text="${classification.name}"></span></td>
      <td class="text-right">
        <div class="dropdown">
          <a class="btn btn-sm btn-icon-only text-light" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-ellipsis-v"></i>
          </a>
          <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
            <button class="dropdown-item" th:onclick="redirect('/classifications/' + [[${classification.id}]])">Edit</button>
            <button class="dropdown-item" th:onclick="handleDeleteModal('modalDeleteItem', [[${classification.id}]], '/classifications/')">Remove</button>
          </div>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
</div>
<!--PAGINATION-->
<div th:if="${classificationsPage.totalPages > 0}" class="card-footer py-4">
  <nav aria-label="...">
    <ul class="pagination justify-content-end mb-0">
      <li class="my-auto mr-1">
        <span class="align-middle" th:text="'Page ' + ${classificationsPage.number + 1} + ' of ' + ${classificationsPage.totalPages}"></span>
      </li>
      <li class="page-item" th:classappend="${classificationsPage.number == 0}? disabled">
        <button id="page-back" class="page-link" tabindex="-1"
                th:onclick="readClassifications([[${classificationsPage.number - 1}]])">
          <i class="fas fa-angle-left"></i>
          <span class="sr-only">Previous</span>
        </button>
      </li>
      <li class="page-item" th:classappend="${classificationsPage.number == classificationsPage.totalPages - 1}? disabled">
        <button id="page-forward" class="page-link"
                th:onclick="readClassifications([[${classificationsPage.number + 1}]])">
          <i class="fas fa-angle-right"></i>
          <span class="sr-only">Next</span>
        </button>
      </li>
    </ul>
  </nav>
</div>