<!DOCTYPE HTML>
<html xmlns:th="http://thymeleaf.org" lang="">
<tr th:id="${product.barcode}" th:onclick="window.open('/products/view/[[${product.id}]]', '_blank')"
    class="clickableRow"
    th:fragment="product_item">
    <td><span th:text="${product.brandName}"></span></td>
    <td><span th:id="${product.barcode + 'quantity'}" th:text="${product.quantity}"></span></td>
    <td><span th:id="${product.barcode + 'pricePerUnit'}" th:text="${product.pricePerUnit}"></span>€</td>
    <td><span th:id="${product.barcode + 'price'}" th:text="${product.price}"></span>€</td>
    <td><span th:id="${product.barcode + 'taxesPrice'}" th:text="${product.taxesPrice}"></span>€</td>
    <td><span th:id="${product.barcode + 'subTotal'}" th:text="${product.subTotal}"></span>€</td>
    <td class="text-center"><a th:onclick="handleDeleteModal('modalDeleteItem', [[${product.barcode}]])"
                               class="fas fa-trash fa-lg"></a></td>
</tr>
