<!DOCTYPE HTML>
<html xmlns:th="http://thymeleaf.org" lang="">
<div class="pl-lg-4" th:if="${product != null}">
    <div class="row form-group">
        <div class="col-lg-4">
            <div>
                <img th:if="${picturesEndpoint != null}" class="imagePreview" th:src="@{${picturesEndpoint}}"
                     style="max-width: 40%; border-radius: 5px; border: 1px solid #d9d9d9;"
                     onload="imagePreview()"/>
                <img th:unless="${picturesEndpoint != null}" class="imagePreview" th:src="@{~/images/no-image.png}"
                     style="max-width: 170px; border-radius: 5px;"
                     onload="imagePreview()"/>
            </div>
        </div>
        <div class="col-lg-4">
            <label class="font-weight-bold">Price</label>
            <div>
                <label th:text="${product.price}"></label>€
            </div>
        </div>
        <div class="col-lg-4">
            <label class="font-weight-bold">Tax price</label>
            <div>
                <label th:text="${product.taxesPrice}"></label>€
            </div>
        </div>
    </div>

    <div class="row form-group">
        <div class="col-lg-4">
            <label class="font-weight-bold">Brand name</label>
            <div>
                <label th:text="${product.brandName}"></label>
            </div>
        </div>
        <div class="col-lg-4">
            <label class="font-weight-bold">Subtotal</label>
            <div>
                <label th:text="${product.subTotal}"></label>€
            </div>
        </div>
        <div class="col-lg-4">
            <label class="font-weight-bold">Quantity selected</label>
            <div>
                <label th:text="${product.quantity}"></label>
            </div>
        </div>
    </div>
</div>

<div th:if="${product == null}"
     th:insert="commons/fragments/no_content::input('ni ni-app text-', 'orange', 'Scanned product','Details of the scanned product will be shown here.')"></div>